<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
Note: These tiles are completely responsive,
you can add as many as you like
-->
<div id="shortcut">
    <ul>
        <li>
            <a asp-action="List" asp-controller="Task" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> 
                <i class="fa fa-tasks fa-4x"></i> <span>Task </span> </span> </a>
        </li>
        <li>
            <a asp-action="Pipeline" asp-controller="Deal" class="jarvismetro-tile big-cubes bg-color-green">
                <span class="iconbox">
                    <i class="fa fa-bullhorn fa-4x"></i> <span>Pipeline </span>
                </span>
            </a>
        </li>
    </ul>
</div>
<!-- END SHORTCUT AREA -->