<div id="content">
    <div class="well">
        <h1 class="text-danger">@Localizer["Acesso Negado"]</h1>
        <p class="text-danger">@Localizer["Você não tem permissão para acessar este recurso"]</p>
    </div>
</div>
    