<!-- MAIN CONTENT -->

@section topright{

    <h1></h1>

}



<div id="content">
    <div class="jumbotron">
        <h2>Obrigado por confirmar seu e-mail... </h2>

        <div class="row padding-10">
            <div class="col-md-4">
                <a asp-controller="Account" asp-action="Login">Clique aqui para efetuar login</a>.

            </div>




        </div>
    </div>
</div>


