<!-- MAIN CONTENT -->
<div id="content">
    <div class="jumbotron">
        <h1>Acesso Negado!...<small>Você está tentando acessar um registro que não tem acesso..</small> </h1>

        <div class="row padding-10">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Ajuda</div>
                    <div class="panel-body">
                        Atualmente os suporte são prestados via
                        suporte@smartadmin.com.br
                    </div>
                </div>

            </div>

          


        </div>
    </div>
</div>

